<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>359538673594939</sid>
    <event-sheet>esMenu</event-sheet>
    <size>
        <width>640</width>
        <height>640</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Bkg" sid="990522940276285">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BombermanTitle" uid="114">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>30</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>2</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine2">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine3">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Forwards/backwards</movement>
                                <wave>Sine</wave>
                                <period>8</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>20</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>310</x>
                        <y>141</y>
                        <z>0</z>
                        <width>560.350769043</width>
                        <height>155.409790039</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501408458</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="1Play" uid="120">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>60</x>
                        <y>356</y>
                        <z>0</z>
                        <width>263</width>
                        <height>37</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.513513505</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="2Play" uid="121">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>60</x>
                        <y>445</y>
                        <z>0</z>
                        <width>321</width>
                        <height>37</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.513513505</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Arrow" uid="122">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>35</x>
                        <y>356</y>
                        <z>0</z>
                        <width>19</width>
                        <height>27</height>
                        <depth>0</depth>
                        <hotspotX>0.684210539</hotspotX>
                        <hotspotY>0.518518507</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BombDrawing" uid="123">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <FinalWidth>200</FinalWidth>
                        <FinalHeight>209</FinalHeight>
                        <BounceTime>2</BounceTime>
                        <b>0</b>
                        <c>0</c>
                        <d>0</d>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>521</x>
                        <y>381</y>
                        <z>0</z>
                        <width>200</width>
                        <height>209</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.502392352</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Glow" sid="848138995217213">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>8</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Glow" uid="116">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>0</ID>
                        <FadeDuration>5</FadeDuration>
                        <ChangeValue>15</ChangeValue>
                        <FadeTime>0</FadeTime>
                        <SizeTime>0</SizeTime>
                        <SizeDuration>5</SizeDuration>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="CustomMovement">
                            <properties>
                                <stepping-mode>None</stepping-mode>
                                <pixels-per-step>5</pixels-per-step>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>8</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-130</x>
                        <y>131</y>
                        <z>0</z>
                        <width>250</width>
                        <height>250</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GlowAttractionPoint" uid="117">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>0</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>782</x>
                        <y>131</y>
                        <z>0</z>
                        <width>67.416618347</width>
                        <height>67.416618347</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GlowAttractionPoint" uid="115">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-131</x>
                        <y>126</y>
                        <z>0</z>
                        <width>67.416618347</width>
                        <height>67.416618347</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Glow" uid="118">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                        <FadeDuration>5</FadeDuration>
                        <ChangeValue>15</ChangeValue>
                        <FadeTime>0</FadeTime>
                        <SizeTime>0</SizeTime>
                        <SizeDuration>5</SizeDuration>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="CustomMovement">
                            <properties>
                                <stepping-mode>None</stepping-mode>
                                <pixels-per-step>5</pixels-per-step>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>8</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-125</x>
                        <y>-90</y>
                        <z>0</z>
                        <width>250</width>
                        <height>250</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Glow" uid="119">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>2</ID>
                        <FadeDuration>5</FadeDuration>
                        <ChangeValue>15</ChangeValue>
                        <FadeTime>0</FadeTime>
                        <SizeTime>0</SizeTime>
                        <SizeDuration>5</SizeDuration>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="CustomMovement">
                            <properties>
                                <stepping-mode>None</stepping-mode>
                                <pixels-per-step>5</pixels-per-step>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>8</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>765</x>
                        <y>-90</y>
                        <z>0</z>
                        <width>250</width>
                        <height>250</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
